<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>title.index.servers.title</title>
        <script src="../js/jquery-1.12.3.min.js"></script>
        <link rel="stylesheet" href="../bootstrap-3.3.6-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../bootstrap-3.3.6-dist/css/bootstrap.css">
        <link rel="stylesheet" href="../css/jBox.css">
        <link rel="stylesheet" href="../css/themes/ModalBorder.css">
        <link rel="stylesheet" href="../css/comment.css">
        <link rel="stylesheet" href="../css/table.css">
        <script src="../js/jBox.js"></script>
        <script src="../js/jquery.dataTables.min.js"></script>
        <script src="../title.common.local.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="panel panel-collapse">
                <div class="panel-heading">title.index.servers.list</div>
                <div class="panel-body">
                    :SERVERS_LINK
                </div>
            </div>
            <div class="panel panel-collapse">
                <div class="panel-heading">title.index.description.generator</div>
                <div class="panel-body">
                    <a href="/:URL_GENERATOR">title.index.text.open.generator</a>
                </div>
            </div>    
            <div class="panel panel-collapse">
                <div class="panel-heading">title.index.text.admin.panel</div>
                <div class="panel-body">
                    <a href="/:URL_ADMIN">title.index.text.open.admin.panel</a>
                </div>
            </div>                
        </div>
        <script src="../bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    </body>
</html>